{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="event-info">
    <div>
            <span>Date :</span>
            {{ if ge .Date now }}
            <span class="event-information">{{ .Date.Format "Monday 2 January 2006" }}</span>
            {{ else }}
            {{ $eventTime :=  .Date.Format "15:04" }}
            <span title="Heure: {{ $eventTime }}" class="event-information">{{ .Date.Format "Monday 2 January 2006" }}</span>
            {{ end }}
    </div>
    {{ if ge .Date now }}
    <div>
            <span>Heure :</span><span class="event-information">{{ .Date.Format "15:04" }}</span>
    </div>
    {{ end }}
    {{ if isset .Params "place" }}
    <div>
            <span>Lieu :</span>
            <span class="event-information">
                {{ .Params.place }}
            </span>
    </div>
    {{ end }}
</div>
<h5 class="event-title">Détails</h5>
<div class="event">
    {{ .Content }}
</div>
<div>
    {{ if isset .Params "speakers" }}
    <span>
        Intervenant{{ if gt (len .Params.speakers) 1  }}s{{ end }} : 
        {{ delimit .Params.speakers ", " }}
    </span>
    {{ end }}
</div>
{{ if .Params.docs }}
{{ $permalink := .Permalink }}
<h5 class="event-title">Visualisez les documents de l'évenement</h5>
<ul class="document">
    {{ range .Params.docs }}
    <li>
            {{ if (hasPrefix (index . 1) "http") }}
            <img src="/images/css/open_in_browser-24px.svg">
            {{ else }}
            <img src="/images/css/file_copy-24px.svg">
            {{ end }}
        <a href="{{ if not (hasPrefix (index . 1) "http") }}{{ $permalink }}{{ end }}{{ index . 1 }}">
            {{ index . 0 }}
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}