{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="event-info">
    <div>
            <span>Date :</span>
            {{ if ge .Date now }}
            <span class="event-information">{{ .Date.Format "Monday 2 January 2006" }}</span>
            {{ else }}
            {{ $eventTime :=  .Date.Format "15:04" }}
            <span title="Heure: {{ $eventTime }}" class="event-information">{{ .Date.Format "Monday 2 January 2006" }}</span>
            {{ end }}
    </div>
    {{ if ge .Date now }}
    <div>
            <span>Heure :</span><span class="event-information">{{ .Date.Format "15:04" }}</span>
    </div>
    {{ end }}
    <div>
            <span>Lieu :</span>
            {{ if isset .Params "place" }}
            <span class="event-information">
                {{ .Params.place }}
            </span>
            {{ else }}
            <span class="event-information undefined">
                non défini
            </span>
            {{ end }}
    </div>
    
</div>
<h5 class="event-title">Détails</h5>
<div class="event">
    {{ .Content }}
</div>

{{ if isset .Params "speakers" }}
{{ $a := slice "" }}
{{ range where .Site.Pages "Section" "speaker" }}
{{ range .Pages }}
{{ $a = $a | append (slice .Title) }}
{{ end }}
{{ end }}
<div>
    <span>
        <span class="speaker-title">Intervenant{{ if gt (len .Params.speakers) 1  }}s{{ end }} :</span>
        <span class="speaker-list">{{ range .Params.speakers }}<span>{{ if in $a . }}{{ $speakerPath := print "speaker/" (urlize .) | absURL }}<a href="{{ $speakerPath }}">{{- . -}}</a>{{ else }}{{- . -}}{{ end }}</span>{{ end }}</span>
    </span>
</div>
{{ end }}

{{ if .Params.docs }}
{{ $permalink := .Permalink }}
<h5 class="event-title">Visualisez les documents de l'évenement</h5>
<ul class="document">
    {{ range .Params.docs }}
    <li>
            {{ if (hasPrefix (index . 1) "http") }}
            <img src="/images/css/open_in_browser-24px.svg">
            {{ else }}
            <img src="/images/css/file_copy-24px.svg">
            {{ end }}
        <a href="{{ if not (hasPrefix (index . 1) "http") }}{{ $permalink }}{{ end }}{{ index . 1 }}">
            {{ index . 0 }}
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}