{{ define "main" }}
<h3 class="event-title">{{ .Title }}<a href="#"><i class="fa fa-twitter"></i></a><i class="fa fa-github"></i><i class="far fa-file-code"></i><i class="fas fa-at"></i><i class="fab fa-linkedin"></i></h3>
{{ $speakerName := .Title }}
{{ $speakerlink := .Params.link }}
{{ .Content }}
<h5 class="event-title">Présentations</h5>
{{ range where .Site.Pages "Section" "event" }}
<div>
        {{ range .Pages }}
        {{ if in .Params.speakers $speakerName }}
        <div class="event follow" onclick="location = '{{ .RelPermalink }}'">
            <div class="title no-margin sublist">
                    <span>{{ .Title }}</span>
                    <span class="event-date">
                                {{ partial "datemonthyear.html" . }}
                    </span>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ end }}
