{{ define "main" }}
<h3 class="event-title">{{ .Title }}</h3>
{{ $speakerName := .Title }}
{{ $speakerlink := .Params.link }}
{{ .Content }}
<h5 class="event-title">Présentations</h5>
{{ range where .Site.Pages "Section" "event" }}
<div>
        {{ range .Pages }}
        {{ if in .Params.speakers $speakerName }}
        <div class="event follow" onclick="location = '{{ .RelPermalink }}'">
            <div class="title no-margin sublist">
                    <span>{{ .Title }}</span>
                    <span class="event-date">
                            {{ .Date.Format "02 January 2006" }}
                    </span>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ end }}
