<header>
    <ul>
        <li class="logo"></li>
        <li class="menu-item"><a href="#">Prochaine rencontres</a></li>
        <li class="menu-item"><a href="#">Rencontre passées</a></li>
        <li class="menu-item"><a href="#">Blog</a></li>
        <li class="menu-item"><a href="#">Sponsors</a></li>
        <li class="menu-item"><a href="#">Qui sommes nous</a></li>
        <li class="menu-item"><a href="#">contact</a></li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</header>